@model MediaLibrary.Models.EditMedia.EditFilmViewModel

@{
    ViewData["Title"] = "FilmEdit";
}

<h1>FilmEdit</h1>

<h4>EditFilmViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FilmEdit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Regisseur" class="control-label"></label>
                <input asp-for="Regisseur" class="form-control" />
                <span asp-validation-for="Regisseur" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Hidden" /> @Html.DisplayNameFor(model => model.Hidden)
                    </label>
                </div>
            }
            <strong>Foto</strong>
            @if (Model.BestaandeFoto == null)
            {
                <p>Geen foto beschikbaar</p>
            }
            else
            {
                var base64 = Convert.ToBase64String(Model.BestaandeFoto);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                <div>
                    <img src="@imgSrc" alt="Alternate Text" />

                </div>
            }
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <div>
        <a asp-action="FilmsList">Back to List (Admin)</a>
    </div>
}

<div>
    <a asp-action="FilmsList" asp-controller="Gebruiker">Back to List</a>
</div>
