@model MediaLibrary.Models.ReviewMedia.GezienFilmViewModel
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/css/js/kickstart.js"></script>
<link rel="stylesheet" href="~/css/css/kickstart.css" media="all" />
@{
    ViewData["Title"] = "FilmGezien";
}

<h1>FilmGezien</h1>

<h4>GezienFilmViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FilmGezien">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedStatus"></label>
                <select asp-for="SelectedStatus" asp-items="Model.Statuses"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <div>
        <a asp-action="FilmsList">Back to List (Admin)</a>
    </div>
}

<div>
    <a asp-action="FilmsList" asp-controller="Gebruiker">Back to List</a>
</div>
