################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MediaLibrary/.vs/MediaLibrary/v16/Server/sqlite3
