<h1>Afspeellijsten</h1>

<table>

    <tr>
        <td><a asp-action="FilmsAfspeelLijsten" asp-controller="Gebruiker">Mijn film afspeellijsten </a> </td>
    </tr>
    


</table>
<a asp-action="Index" asp-controller="Lijst">Back</a>
