<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/css/js/kickstart.js"></script>
<link rel="stylesheet" href="~/css/css/kickstart.css" media="all" />
<h1>Afspeellijst beheer</h1>


<table>

    <tr>
        <td><a asp-action="CreateFilmAfspeellijst" asp-controller="Lijst">Maak Film afspeellijst</a></td>
    </tr>
    <tr>
        <td><a asp-action="CreateMuziekAfspeellijst" asp-controller="Lijst">Maak Muziek afspeellijst</a></td>
    </tr>
    <tr>
        <td><a asp-action="Afspeellijsten" asp-controller="Gebruiker">Mijn afspeellijsten</a></td>
    </tr>

</table>
<br />
<a asp-action="Index" asp-controller="Home">Back</a>
