@model MediaLibrary.Models.CreateSerieViewModel

@{
    ViewData["Title"] = "CreateSerie";
}

<h1>CreateSerie</h1>

<h4>CreateSerieViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSerie" asp-controller="Home" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seizoen" class="control-label"></label>
                <input asp-for="Seizoen" class="form-control" />
                <span asp-validation-for="Seizoen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoeveelAfl" class="control-label"></label>
                <input asp-for="HoeveelAfl" class="form-control" />
                <span asp-validation-for="HoeveelAfl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto"></label>
                <input class="form-control" asp-for="Foto" />
                <span class="text-danger" asp-validation-for="Foto"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<a asp-action="MediaCreate" asp-controller="Home">Back</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
