@model MediaLibrary.Models.CreatePodcastViewModel

@{
    ViewData["Title"] = "CreatePodcast";
}

<h1>CreatePodcast</h1>

<h4>CreatePodcastViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePodcast" asp-controller="Home" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lengte" class="control-label"></label>
                <input asp-for="Lengte" class="form-control" />
                <span asp-validation-for="Lengte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto"></label>
                <input class="form-control" asp-for="Foto" />
                <span class="text-danger" asp-validation-for="Foto"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<a asp-action="MediaCreate" asp-controller="Home">Back</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
