@model MediaLibrary.Models.CreateFilmViewModel

@{
    ViewData["Title"] = "CreateFilm";
}

<h1>CreateFilm</h1>

<h4>CreateFilmViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFilm" asp-controller="Home" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regisseur" class="control-label"></label>
                <input asp-for="Regisseur" class="form-control" />
                <span asp-validation-for="Regisseur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto"></label>
                <input class="form-control" asp-for="Foto" />
                <span class="text-danger" asp-validation-for="Foto"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
