<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/css/js/kickstart.js"></script>
<link rel="stylesheet" href="~/css/css/kickstart.css" media="all" />
<h1>Home</h1>

<table>
    <tr>
        <td><a asp-action="Media" asp-controller="Gebruiker">Alle media</a></td>
    </tr>
    @if (User.Identity.IsAuthenticated)
    {
        <tr>
            <td><a asp-action="MediaCreate" asp-controller="Home">Voeg nieuwe media toe</a></td>
        </tr>
        <tr>
            <td><a asp-action="Index" asp-controller="Lijst">Afspeellijsten Beheren</a></td>
        </tr>
    }
    <tr></tr>
</table>