<p> <a asp-action="CreateFilm" asp-controller="Home">Voeg Film Toe</a></p>
<p> <a asp-action="CreateSerie" asp-controller="Home">Voeg Serie Toe</a></p>
<p> <a asp-action="CreateMuziek" asp-controller="Home">Voeg Muziek Toe</a></p>
<p> <a asp-action="CreatePodcast" asp-controller="Home">Voeg Podcast Toe</a></p>
<a asp-action="Index" asp-controller="Home">Back</a>

