<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/css/js/kickstart.js"></script>
<link rel="stylesheet" href="~/css/css/kickstart.css" media="all" />
<p> <a asp-action="CreateFilm" asp-controller="Home">Voeg Film Toe</a></p>
<p> <a asp-action="CreateSerie" asp-controller="Home">Voeg Serie Toe</a></p>
<p> <a asp-action="CreateMuziek" asp-controller="Home">Voeg Muziek Toe</a></p>
<p> <a asp-action="CreatePodcast" asp-controller="Home">Voeg Podcast Toe</a></p>
<a asp-action="Index" asp-controller="Home">Back</a>

