<h1>Afspeellijsten</h1>

<table>

    <tr>
        <td><a asp-action="FilmsAfspeelLijsten" asp-controller="Admin2">Film afspeellijsten </a> </td>
    </tr>

</table>
<a asp-action="Index" asp-controller="Admin">Back</a>
