@model IEnumerable<MediaLibrary.Models.ListGebruikersViewModel>

@{
    ViewData["Title"] = "Gebruikers";
}

<h1>Gebruikers</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.ActionLink("Delete", "GebruikerDelete", new { id=item.Id})
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index" asp-controller="Admin">Back</a>
