@model IEnumerable<MediaLibrary.Models.ListGebruikersViewModel>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/css/js/kickstart.js"></script>
<link rel="stylesheet" href="~/css/css/kickstart.css" media="all" />
@{
    ViewData["Title"] = "Gebruikers";
}

<h1>Gebruikers</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.ActionLink("Delete", "GebruikerDelete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index" asp-controller="Admin">Back</a>
